<!DOCTYPE html>
<html>
<head>
    <title>Dice Game - Main Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main-menu">
        <h1 class="menu-title">Welcome to the Dice Game!</h1>
        <div class="menu-buttons">
            <a href="/player-vs-computer" class="button-24">Player vs Computer</a>
            <a href="/hotseat" class="button-24">Hotseat (Player vs Player)</a>
            <a href="/player-vs-player-online" class="button-24">Player vs Player Online</a>
        </div>
    </div>
</body>
</html>
